name: Melrose, Bronx NY
theme: jekyll-theme-midnight

title: The Effects of Carbon Dixoide Emissions on Melrose, The Bronx, NYC
description: This site will allocate collected data in depictions such as bar graphs, interpreted conclusive data, photographs, and more. 

plugins:
  - jekyll-sitemap
  - jekyll-feed

navigation:
  - title: Home
    url: /
  - title: About
    url: /about/
  - title: Contact
    url: /contact/

